body {
    word-break: break-word;
    overflow: hidden;
}

h1, h2, h3, p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

a, a:hover {
    text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

html {
    overflow-x: hidden;
}

.row {
    margin: 0;
}

.enquiry_make {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: none;
}

.enquiry_make p {
    display: table;
    background: #fff;
    color: #000;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.form_feedback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: none;
}

.form_feedback span {
    display: table;
    background: #fff;
    color: #000;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#search_forma::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.container {
    width: 1200px;
    padding: 0;
}

.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

body {
    padding-top: 73px;
}

.home_page .header {
    position: relative;
}

.home_page {
    margin-top: -105px;
}

.home_page.posi .header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

.home_page.posi {
    margin-top: 0;
}

.header.move .menu li a {
    padding: 20px 0;
}

.header.move .menu li a.activea {
    color: #004098;
}

.header.move .menu li:first-child {
    width: 21%;
    border: none;
}

.header.move .menu li:first-child a {
    padding: 18px 0;
}

.header.move .menu li:last-child {
    width: 5%;
}

.header.move .menu .sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 145%;
    background-color: white;
    left: 0;
    z-index: 99;
}

.header.move .menu .sub_menu li {
    width: 100%;
    text-align: left;
    border: none;
    border-top: 1px solid #efefef;
}

.header.move .menu .sub_menu li a {
    padding: 8px 20px;
    text-align: left;
    font-size: 14px;
}

.header.move .menu .sub_menu li:first-child a:hover {
    background-color: #000;
    color: white;
    font-style: 16px;
}

.header_phone {
    display: none;
}

.menu li {
    float: left;
    border-left: 1px solid #dcdcdc;
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    font-weight: 500;
    transition: all .4s ease-out;
}

.menu li a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: 'oswald', sans-serif;
    color: #000;
    font-weight: 500;
    padding: 23px 0;
}

.menu li a:hover {
    color: #004098;
}

.menu li a.activea {
    color: #004098;
}

.menu li.action > a {
    color: #004098;
}

.menu li:first-child {
    width: 21%;
    border: none;
    padding-left: 0;
}

.menu li:first-child a {
    padding: 20px 0;
}

.menu li:last-child {
    width: 5%;
}

.menu li:nth-last-child(2) {
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
}

.liebiao {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 12344444;
    background-color: #004098;
    color: #fff;
    text-transform: uppercase;
    display: none;
}

.menu li:nth-last-child(2):hover .liebiao {
    display: block;
}

.menu li:nth-last-child(2) .liebiao>a {
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
}

.menu .sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 145%;
    background-color: white;
    left: 0;
    z-index: 99;
}

.menu .sub_menu li {
    width: 100%;
    text-align: left;
    border: none;
    border-top: 1px solid #efefef;
}

.menu .sub_menu li a {
    padding: 8px 20px;
    text-align: left;
    font-size: 14px;
}

.menu .sub_menu li:first-child a:hover {
    background-color: #000;
    color: white;
    font-style: 16px;
}

.search.show {
    background-color: #000;
    color: #000;
}

.search.show i.fa.fa-search:before {
    content: "\f00d";
}

.search_form {
    transition: all .4s ease-out;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.search_form #search_forma p {
    color: white;
    font-size: 30px;
    padding-bottom: 15px;
    font-family: 'oswald', sans-serif;
}

.search_form #search_forma input[type="text"] {
    width: 90%;
    background-color: #000;
    color: white;
    padding: 15px;
    line-height: 1.6;
    box-sizing: border-box;
    border: none;
    font-family: 'oswald', sans-serif;
    float: left;
    outline: none;
    font-size: 26px;
}

.search_form #search_forma input[type="submit"] {
    font-size: 26px;
    width: 10%;
    padding: 15px;
    line-height: 1.6;
    border: none;
    float: left;
    font-family: 'oswald', sans-serif;
}

.search_form.show {
    height: 228px;
    padding: 50px 0;
}

/* footer */
.footer {
    position: relative;
}

.footer .top .footerot_menu li {
    width: auto;
    border-right: 1px solid #dcdcdc;
    float: left;
}

.footer .top .footerot_menu li:first-child a {
    padding-left: 15px;
}

.footer .top .footerot_menu li a {
    display: inline-block;
    padding: 24px 30px;
    font-size: 16px;
    transition: all .4s ease-out;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.footer .top .footerot_menu li a:hover {
    background-color: #034098;
    color: white;
}

.footer .top .footerot_menu li:last-child {
    border-right: none;
}

.footer .bot {
    padding: 17px 0;
    background-color: #034098;
}

.footer .bot .left {
    float: left;
    width: 50%;
    text-align: left;
}

.footer .bot .left a {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 4px;
    transition: all .4s ease-out;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.footer .bot .left .zh, .footer .bot .left .en {
    text-transform: uppercase;
    padding: 5px 4px;
}

.footer .bot .left .ze {
    padding: 5px 0;
}

.footer .bot .left .ch {
    text-transform: uppercase;
    color: #757575;
}

.footer .bot .left .facebook {
    margin-left: 25px;
}

.footer .bot .right {
    float: right;
    text-align: right;
    width: 50%;
}

.footer .bot .right p {
    font-size: 16px;
    padding: 6px 0;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.footer .bot .right a {
    color: #fafafa;
}

.footer .scrollTop {
    cursor: pointer;
    position: absolute;
    top: -42px;
    right: 10%;
    background-color: white;
    transition: all .4s ease-out;
}

.footer .scrollTop i {
    font-size: 30px;
    color: black;
    transition: all .4s ease-out;
}

.footer .scrollTop:hover i {
    transform: translateY(-8px);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        padding-top: 80px;
    }

    .container {
        width: 760px;
    }

    .section .top {
        padding: 50px 0;
    }

    .menu li {
        padding: 0 15px;
    }

    .menu li a {
        font-size: 14px;
        padding: 30px 0;
    }

    .menu li:first-child a {
        padding: 28px 0;
    }

    .menu .sub_menu li:first-child a {
        padding: 8px 20px;
    }

    .menu .sub_menu li a {
        font-size: 12px;
    }

    .search_form #search_forma p {
        font-size: 20px;
    }

    .search_form #search_forma input[type="text"] {
        font-size: 16px;
    }

    .search_form #search_forma input[type="submit"] {
        font-size: 16px;
    }

    .menu .sub_menu {
        width: 210%;
    }

    .footer .top .footerot_menu li a {
        padding: 20px 8px;
        font-size: 14px;
    }

    .footer .top .footerot_menu li:last-child a {
        padding: 14px 0;
    }

    .footer .bot .left {
        width: 40%;
    }

    .footer .bot .right {
        width: 60%;
    }

    .footer .bot .right a {
        color: #bebcbc;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1129px) {
    .menu li {
        padding: 0 20px;
    }
}

@media (max-width: 1199px) and (min-width: 1024px) {
}

@media screen and (min-width: 1130px) and (max-width: 1220px) {
    .menu li {
        padding: 0 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        padding-top: 72px;
    }

    .footer .bot .left .facebook {
        margin-left: 0px;
    }

    .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .navbar {
        border: none;
    }

    .header {
        display: none;
    }

    .home_page {
        margin-top: 0;
    }

    .home_page.posi .header {
        display: none;
    }

    .header_phone {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999;
    }

    .header_phone .navbar-header {
        padding: 10px 0;
    }

    .header_phone .navbar-brand {
        padding: 11px 15px;
        width: 60%;
    }

    .header_phone .navbar-default .navbar-toggle:focus, .header_phone .navbar-default .navbar-toggle:hover {
        background-color: #004098;
    }

    .header_phone .navbar-default .navbar-toggle .icon-bar {
        color: white;
        background-color: white;
    }

    .header_phone .navbar-toggle {
        background-color: #004098;
    }

    .header_phone .navbar-default .navbar-nav > li > a {
        text-transform: uppercase;
        font-size: 18px;
    }

    .header_phone .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        text-transform: uppercase;
        font-size: 16px;
    }

    .nav > li:last-child {
        padding-left: 10px;
    }

    .nav > li:last-child>a {
        display: inline-block;
        padding: 10px 5px;
    }

    #search_form_phonea {
        padding: 15px;
        font-size: 0;
    }

    #search_form_phonea input[type="text"] {
        width: 70%;
        padding: 10px;
        font-size: 16px;
        color: black;
        border: 1px solid black;
        outline: none;
        vertical-align: top;
    }

    #search_form_phonea input[type="submit"] {
        border: none;
        background-color: #034098;
        color: white;
        font-size: 18px;
        padding: 9px 15px;
        vertical-align: top;
    }

    .footer .top .footerot_menu li:first-child {
        border-left: none;
    }

    .footer .top .footerot_menu li:last-child {
        float: left;
    }

    body .footer .scrollTop {
        top: -42px;
    }

    body .footer .top {
        padding: 15px 0;
    }

    body .footer .top .footerot_menu li a {
        text-align: left;
        font-size: 14px;
        padding: 5px 0;
    }

    body .footer .top .footerot_menu li a:last-child {
        text-align: left;
        padding: 5px 10px;
    }

    body .footer .bot .left, body .footer .bot .right {
        width: 100%;
        text-align: left;
    }

    body .footer .bot .left p, body .footer .bot .right p {
        padding-left: 10px;
    }
}
